<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- Use the renderer ${event-properties:item=GroupID} to access logger's group ID property -->

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <!-- write log message to database -->
    <!-- <target xsi:type="Database" name="DB"> -->
    <!-- SQL command to be executed for each entry -->
    <!--
      <commandText>
        IF (SELECT OBJECT_ID('Logs')) IS NULL
        BEGIN
        CREATE TABLE Logs
        (
        [ID] int primary key NOT NULL identity(1,1),
        [Group] bigint NULL,
        [TimeStamp] datetime2,
        [Message] nvarchar(max),
        [Severity] nvarchar(10),
        [Source] nvarchar(128),
        [Machine name] [nvarchar](128) NULL,
        [User name] [nvarchar](64) NULL,
        [Exception stack trace] [nvarchar](max) NULL
        );
        END;

        INSERT INTO [Logs]([Group], [TimeStamp], [Message], [Severity], [Source], [Machine name], [User name], [Exception stack trace])
        VALUES(@group, @date, @msg, @level, @logger, @machinename, @user_name, @stack_trace)</commandText>

      -->
    <!-- parameters for the command -->
    <!--
      <parameter name="@group" layout="${event-properties:item=GroupID}" />
      <parameter name="@date" layout="${date}" />
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@stack_trace" layout="${StackTrace}" />

      -->
    <!-- connection string -->
    <!--
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>data source=DBInstance;initial catalog=DBName;persist security info=True;Integrated Security=SSPI</connectionString>
    </target>
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "DB"
    <logger name="*" minlevel="Debug" writeTo="DB" />
    -->
    
  </rules>
</nlog>
